/*

Provides a Vue 3 component that displays a form for Guest Information that
allows editing, and submitting changes. 

Requires a GuestInfoBackend that implements GuestInfoAPI v1.0.3

Emits a guestInfoCancelEvent

*/

<template>
    <div class="container">
        <form v-on:submit.prevent="submitForm">
            <p>Guest Id Number: {{ guestData.wsuID }}</p>
            <p>Is the guest a WSU on-campus resident?
                <select v-model="guestData.resident">
                    <option disabled value="">Please select one</option>
                    <option :value='true'>Yes</option>
                    <option :value='false'>No</option>
                </select>
            </p>
            <p>Guest Zip Code (If resident enter 01602):
                <input class="zipCode" type="text" id="Zip Code" required minlength="5" maxlength="5"
                    v-model="guestData.zipCode">
            </p>
            <p>Guest Age:
                <input type="number" v-model="guestData.guestAge" required min="1" max="125" />
            </p>
            <p>Total number of people in household (including guest):
                <input type="number" v-model="guestData.numberInHousehold" required min="1" max="100" />
            </p>
            <p>Does the guest receive unemployment benefits?
                <select v-model="guestData.unemployment">
                    <option disabled value="">Please select one</option>
                    <option :value='true'>Yes</option>
                    <option :value='false'>No</option>
                </select>
            </p>
            <p>Does the guest receive any of the following? (check as many as apply):</p>
            <div class="container">
                <p><input type="checkbox" id="social_security" v-bind:value="true"
                        v-model="guestData.assistance.socSec">
                    <label for="social_security">Social Security</label>
                </p>
                <p><input type="checkbox" id="tanf_eadc" v-bind:value="true" v-model="guestData.assistance.TANF">
                    <label for="tanf_eadc">TANF/EADC</label>
                </p>
                <p><input type="checkbox" id="finacialAid" v-bind:value="true" v-model="guestData.assistance.finAid">
                    <label for="finacialAid">Financial Aid</label>
                </p>
                <p><input type="checkbox" id="other" v-bind:value="true" v-model="guestData.assistance.other">
                    <label for="other">Other</label>
                </p>
                <p><input type="checkbox" id="SNAP" v-bind:value="true" v-model="guestData.assistance.SNAP">
                    <label for="SNAP">SNAP/Food Stamps</label>
                </p>
                <p><input type="checkbox" id="assistance" v-bind:value="true" v-model="guestData.assistance.WIC">
                    <label for="WIC">WIC</label>
                </p>
                <p><input type="checkbox" id="breakfast" v-bind:value="true" v-model="guestData.assistance.breakfast">
                    <label for="breakfast">School Breakfast</label>
                </p>
                <p><input type="checkbox" id="lunch" v-bind:value="true" v-model="guestData.assistance.lunch">
                    <label for="lunch">School Lunch</label>
                </p>
                <p><input type="checkbox" id="SFSP" v-bind:value="true" v-model="guestData.assistance.SFSP">
                    <label for="SFSP">SFSP</label>
                </p>
            </div>

            <button class="submit" @click="submitGuestData">Submit Changes</button>
            <button class="submit" @click="cancel">Cancel</button>
        </form>
    </div>
</template>
    
<script>

import axios from 'axios';

export default {
    name: 'GuestDataComponent',
    emits: [
        'guestDataCancelEvent'
    ],
    data() {
        return {
            guestData: {
                "wsuID": "",
                "resident": true,
                "zipCode": "",
                "unemployment": false,
                "assistance": {
                    "socSec": false,
                    "TANF": false,
                    "finAid": false,
                    "other": false,
                    "SNAP": false,
                    "WIC": false,
                    "breakfast": false,
                    "lunch": false,
                    "SFSP": false
                },
                "guestAge": 0,
                "numberInHousehold": 0
            },
            existingGuest: true,
        }
    },
    props: {
        idNum: String
    },
    watch: {
        idNum() {
            this.fetchGuestData();
        }
    },
    methods: {

        async fetchGuestData() {
            try {
                let guestURL = "http://localhost:10350/guests/" + this.idNum;
                let response = await axios.get(guestURL);

                if (response.status == 200) {
                    this.guestData = response.data;
                    this.existingGuest = true;
                    console.log(this.guestData);
                } 
            } catch (err) {
                if (err.response.status == 404) {
                    console.log("not found");
                    this.guestData.wsuID = this.idNum;
                    this.existingGuest = false;
                    alert("Guest with ID " + this.idNum + " not found.\nTo add guest, complete the form and click Submit Changes.\nOtherwise click Cancel.");
                }
                console.log(err);
            }
        },
        // Send Guest Information to Backend 
        async submitGuestData() {

            if (this.existingGuest) {
                axios.put("http://localhost:10350/guests/" + this.guestData.wsuID, this.guestData)
                    .then(() => {
                        //  success - do nothing
                    })
                    .catch(error => {
                        console.error(error);
                    })
            } else {
                console.log(this.guestData);
                axios.post("http://localhost:10350/guests/", this.guestData)
                    .then(() => {
                        // success - do nothing
                    })
                    .catch(error => {
                        console.error(error);
                    })                
            }
        },
        cancel() {
            this.$emit('guestDataCancelEvent');
        }
    }
}

</script> 

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
form {
    margin: auto;
    max-width: 90%;
    padding: 1vh 0 1vh 0;
    text-align: left;
}
</style>
