/*

Main Vue 3 application.

*/

<template>

    <head>
        <meta charset="utf-8" />
        <title>Thea's Pantry</title>
    </head>

    <body>
        <img src="./assets/WSU_primary_logo1.png" class="wsuLogo" alt="Worcester State University Logo">

        <div class="theas-pantry">
            <h1>Thea's Pantry</h1>

            <div v-show="idInputComponentVisible">
                <idInputComponent :idNumber="idNum" @sendIdEvent="receiveID">
                </idInputComponent>
            </div>

            <div v-show="guestDataComponentVisible">
                <guestDataComponent :idNum="idNum" @guestDataCancelEvent="guestDataCancel">
                </guestDataComponent>
            </div>

            <p>This software is a <a href="https://librefoodpantry.org">LibreFoodPantry</a> project.</p>
            <p>&copy; 2022 LibreFoodPantry Authors</p>

        </div>
    </body>
</template>

<script>
import guestDataComponent from "./components/guest-data-component.vue"
import idInputComponent from "./components/id-input-component.vue"

export default {
    components: {
        idInputComponent,
        guestDataComponent,
    },
    data() {
        return {
            idInputComponentVisible: true,
            guestDataComponentVisible: false,
            idNum: "",
        }
    },
    methods: {
        receiveID(idNum) {
            this.idNum = idNum;
            this.idInputComponentVisible = false;
            this.guestDataComponentVisible = true;
        },
        guestDataCancel() {
            this.idNum = "";
            this.idInputComponentVisible = true;
            this.guestDataComponentVisible = false;
        }
    },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');

body,
html {
    background-color: rgb(0, 48, 135);
}

#app {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000000;
}

.theas-pantry {
    margin: auto;
    padding: 1vh 0 1vh 0;
    background-color: rgb(255, 184, 28);
    border-radius: 25px;
    max-width: 90%;
    font-family: "Baskerville";
}

.container {
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: "Arial";
    max-width: 90%;
}

.submit {
    min-width: 10em;
    min-height: 3.5em;
    border-radius: 10px;
    background-color: rgb(0, 48, 135);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.wsuLogo {
    left: 40px;
}
</style>
